body {
    height: 100%;
    margin: 0 auto;
    width: 1450px;
}
.pageHeader {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 70px;
}
.headerMenuList li {
    display: inline-block;
}  

.headerMenuLink {
    font: 400 30px "Poppins Regular";
    color: #686565;
    text-decoration: none;
    margin: 0 40px;
}
.introduction {
    display: flex;
    height: 710px;
    justify-content: space-between;
}

.introductionText {
    width: 600px;
}

h2 {
    color: #2000E7;
    font-family: "Poppins Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 16.8px;
}

h2.text {
    letter-spacing: normal;
}

.orangeCaption {
    color: #F2BD00;
}

h3 {
    color: #2000E7;
    font-family: "Poppins Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buttonsWrapper {
    display: flex;
    margin: 100px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    height: 72px;
    width: 246px;
    margin-right: 60px;
    text-decoration: none;
}

.buttonBlue {
    background: #2000E7;
    color: #fff;
}

.buttonWhite {
    background: rgba(32, 0, 231, 0.04);
    color: #2000E7;
}


